.App {
    font-family: sans-serif;
    text-align: center;
  }
  
.container {
  padding: 2em;
  background: #084f85;
  width: 600px;
}

.innerContainer {
  padding: 10%;
  background: linear-gradient(#003b67, #0000);
  width: 80%;
  color: white;
}